minimum-release-age-exclude[]=astro
minimum-release-age-exclude[]=@astrojs/cloudflare
minimum-release-age-exclude[]=@astrojs/mdx
minimum-release-age-exclude[]=@astrojs/react
minimum-release-age-exclude[]=@astrojs/markdown-satteri
minimum-release-age-exclude[]=@astrojs/compiler
minimum-release-age-exclude[]=@astrojs/internal-helpers
