{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides":[{
    "files": ["*.md","*.mdx"],
    "options": {
      "parser": "markdown-nocjsp"
    }
  }]
}
