---
import type { GetStaticPaths } from "astro"
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
export const getStaticPaths: GetStaticPaths = async () => {
  const singlePages = await getCollection("singlePage")
  return singlePages.map((page) => ({
    params: { slug: page.slug },
    props: page
  }))
}
import {
  MdxH2,
  MdxH3,
  MdxH4,
  MdxParagraph,
  MdxBlockQuote,
  MdxA,
  MdxTable,
  MdxStrong
} from "../../components/mdx/mdxReplacer"

type Props = CollectionEntry<"singlePage">
const page = Astro.props
const { Content } = await page.render()
---

<Layout title={page.data.title}>
  <div class="prose prose-sm md:prose-base max-w-3xl mx-auto">
    <Content
      components={{
        h2: MdxH2,
        h3: MdxH3,
        h4: MdxH4,
        p: MdxParagraph,
        blockquote: MdxBlockQuote,
        a: MdxA,
        table: MdxTable,
        strong: MdxStrong
      }}
    />
  </div>
</Layout>
