<div class="clearfix">
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_48 a2a_default_style">
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_google_plus"></a>
        <a class="a2a_button_line"></a>
        <a class="a2a_button_email"></a>
        <a class="a2a_button_copy_link"></a>
    </div>
    <script>
        var a2a_config = a2a_config || {};
        a2a_config.locale = "ja";
        a2a_config.templates.twitter = "${title} ${link}";
    </script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
</div>
</br>