{{- if .Site.Params.widgets.adsense }}
<div class="widget">
	<h4 class="widget__title">Ads</h4>
	<div class="widget__content">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- gensou-cycle_sidebar_AdSense1_1x1_as -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-0056151430743709"
			 data-ad-slot="4877495829"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>
{{- end }}