---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "./FormattedDate.astro"
import { Picture } from "astro:assets"
type Props = CollectionEntry<"post">["data"]

const { cover, title, date, tags } = Astro.props
---

<div class="hero aspect-video">
  <Picture
    src={cover}
    alt=""
    formats={["webp"]}
    quality={30}
    widths={[640, 768, 1280]}
  />
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center flex flex-col">
    <div class="max-w-full">
      <h1
        class="mb-5 text-xl md:text-3xl font-bold text-neutral-content max-w-4xl"
      >
        {title}
      </h1>
      <div class="grid grid-flow-col grid-cols-max gap-2 justify-center">
        {
          tags.map((tag) => (
            <span class="badge badge-outline badge-accent md:text-lg">
              {tag}
            </span>
          ))
        }
      </div>
      <div class="mb-5 text-neutral-content">
        <FormattedDate date={date} />
      </div>
    </div>
  </div>
  <div class="text-base-300 text-xs mt-auto ml-auto">
    記事内にアフェリエイトリンクを含む場合があります
  </div>
</div>
