---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "./FormattedDate.astro"
type Props = CollectionEntry<"post">["data"]

const { cover, title, date, tags } = Astro.props

const coverSrc = cover.src
---

<div class="hero aspect-video" style=`background-image: url(${coverSrc});`>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center">
    <div class="max-w-full">
      <h1 class="mb-5 text-xl md:text-3xl font-bold text-neutral-content">{title}</h1>
      <div class="grid grid-flow-col grid-cols-max gap-2 justify-center">
        {tags.map((tag) => (
        <span class="badge badge-outline badge-accent md:text-lg">{tag}</span>
      ))}
      </div>
      <p class="mb-5 text-neutral-content">
        <FormattedDate date={date} />
      </p>
    </div>
  </div>
</div>
