---
import { Icon } from "astro-icon"
import { PROFILE } from "../consts"
---

<footer class="footer footer-center p-4 bg-base-content text-base-100">
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a
        href=`https://twitter.com/${PROFILE.social.twitter}`
        target="_blank"
        rel="noreferrer"
      >
        <Icon name="mdi:twitter" class="w-8 h-8 md:w-12 md:h-12" />
      </a>
      <a
        href=`https://www.instagram.com/${PROFILE.social.instagram}`
        target="_blank"
        rel="noreferrer"
        ><Icon name="mdi:instagram" class="w-8 h-8 md:w-12 md:h-12" /></a
      >
      <a href=`https://www.youtube.com/channel/UCwNPD5TeaVKBhYrp_ODMCqg`>
        <Icon name="mdi:youtube" class="w-8 h-8 md:w-12 md:h-12" /></a
      >
    </div>
  </nav>
  <aside class="text-xs">
    <p>
      このサイトはAmazonアソシエイトの適格販売やGoogle
      Adsenseによる収入で運営されています。情報送信については、情報送信については外部送信規律に基づく情報提供ページをご確認ください
    </p>
  </aside>
  <p>Copyright © 2023 All right reserved by 幻想サイクル</p>
</footer>
