---
import About from "@components/About.astro"
import BlogPostCard from "@components/BlogPostCard.astro"
import Hero from "@components/Hero.astro"
import Paginate from "@components/Paginate.astro"
import TagCloud from "@components/TagCloud.astro"
import Layout from "@layouts/Layout.astro"
import { timeOrderPosts } from "@lib/timeOrderPosts"
import { pageSize } from "~/config"

const posts = timeOrderPosts.slice(0, pageSize)
---

<Layout title="幻想サイクル">
  <Hero />
  <section>
    <div class="grid grid-cols-2 gap-4 lg:grid-cols-3">
      {posts.map((post) => <BlogPostCard {...post} />)}
    </div>
  </section>
  <Paginate currentPage={1} totalPages={5} />
  <div class="my-8">
    <TagCloud />
  </div>
  <About />
</Layout>
