---
import Layout from "@layouts/Layout.astro"
import BlogPostCard from "@components/BlogPostCard.astro"
import { timeOrderPosts } from "@lib/timeOrderPosts"
import { pageSize } from "~/config"
import Paginate from "@components/Paginate.astro"
import About from "@components/About.astro"

const posts = timeOrderPosts.slice(0, pageSize)
---

<Layout title="幻想サイクル">
  <section class="mx-auto max-w-xl mb-12">
    <h1 class="mb-8 text-3xl font-bold">最新の記事</h1>
    <div class="space-y-8">
      {posts.map((post) => <BlogPostCard {...post} />)}
    </div>
  </section>

  <Paginate currentPage={1} totalPages={5} />

  <section class="mt-16">
    <About />
  </section>
</Layout>
