---
import Layout from "@layouts/Layout.astro"
import BlogPostCard from "@components/BlogPostCard.astro"
import { timeOrderPosts } from "@lib/timeOrderPosts"
import { pageSize } from "~/config"
import Paginate from "@components/Paginate.astro"

const posts = timeOrderPosts.slice(0, pageSize)
---

<Layout title="幻想サイクル">
  <section>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
      {posts.map((post) => <BlogPostCard {...post} />)}
    </div>
  </section>
  <Paginate currentPage={1} totalPages={5} />
</Layout>
