---
import { Picture } from "astro:assets"
import logo from "../images/dummy.jpg"
import { Content as AbountText } from "./text/about.md"
---

<div class="hero bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <div class="overflow-hidden rounded-full md:mx-10">
      <Picture src={logo} alt="social logo" fallbackFormat="jpg" />
    </div>
    <div class="prose prose-sm max-w-md md:prose-base">
      <AbountText />
    </div>
  </div>
</div>
