---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "./FormattedDate.astro"
import { Picture } from "astro:assets"
import dummy from "@images/dummy.jpg"
type Props = CollectionEntry<"post">["data"] & { slug: string }

const { cover, title, date, tags } = Astro.props
---

<div class="relative mb-6">
  <div class="aspect-video w-full bg-gray-300">
    <Picture
      src={cover ?? dummy}
      alt=""
      formats={["webp"]}
      quality={30}
      widths={[640, 768]}
      class="size-full object-cover"
      loading="eager"
      fallbackFormat="jpeg"
    />
  </div>
  <div class="absolute inset-0 flex flex-col justify-end bg-black/60 p-6">
    <div class="mb-2 flex gap-2">
      {
        tags.map((tag) => (
          <a
            href={`/tag/${tag}/1`}
            class="rounded-full bg-accent px-2 py-1 text-xs text-accent-content transition hover:bg-accent-focus"
            data-pagefind-ignore
          >
            {tag}
          </a>
        ))
      }
    </div>
    <h1 class="max-w-4xl text-xl font-bold text-white md:text-2xl">
      {title}
    </h1>
    <div class="mt-2 text-sm text-white" data-pagefind-ignore>
      <FormattedDate date={date} />
    </div>
  </div>
  <div
    class="absolute bottom-1 right-2 text-xs text-gray-300"
    data-pagefind-ignore
  >
    記事内にアフェリエイトリンクを含む場合があります
  </div>
</div>
