---
import type { CollectionEntry } from "astro:content"
import { Picture } from "astro:assets"
import FormattedDate from "./FormattedDate.astro"
import dummy from "@images/dummy.jpg"

type Props = CollectionEntry<"post">
const post = Astro.props
const accentColor = "#3182CE" // 青系統のアクセントカラー
---

<article class="bg-white border border-gray-200 flex flex-col group cursor-pointer hover:shadow-md transition-shadow">
  <a href={`/post/${post.slug}/`}>
    <div class="relative">
      <div 
        class="absolute top-0 left-0 z-10 text-xs px-2 py-1 text-white font-semibold"
        style={{backgroundColor: accentColor}}
      >
        {post.data.tags[0]}
      </div>
      <div class="aspect-video bg-gray-200 overflow-hidden">
        <Picture
          src={post.data.cover ?? dummy}
          alt="記事カバー画像"
          class="w-full h-full object-cover"
          formats={["webp"]}
          widths={[330]}
          quality={50}
          fallbackFormat="jpeg"
        />
      </div>
    </div>
    <div class="p-4 flex-grow flex flex-col">
      <h3 class="font-bold mb-2 group-hover:text-blue-600 transition-colors">
        {post.data.title}
      </h3>
      <div class="mt-auto flex justify-end text-xs text-gray-500">
        <time>
          <FormattedDate date={post.data.date} />
        </time>
      </div>
    </div>
  </a>
</article>
