---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "./FormattedDate.astro"

type Props = CollectionEntry<"post">
const post = Astro.props
---

<article class="group">
  <a href={`/post/${post.slug}/`} class="block">
    <div class="space-y-2">
      <div class="text-xs text-gray-500">
        <FormattedDate date={post.data.date} />
        {
          post.data.tags.length > 0 && (
            <span class="ml-2 text-accent">{post.data.tags[0]}</span>
          )
        }
      </div>
      <h2 class="text-lg font-medium group-hover:text-accent">
        {post.data.title}
      </h2>
    </div>
  </a>
</article>
