---
import Social from "./Social.astro"
---

<footer class="footer footer-center bg-base-content p-4 text-base-100">
  <Social />
  <aside class="text-xs">
    <p>
      このサイトはAmazonアソシエイトの適格販売やGoogle
      Adsenseによる収入で運営されています。情報送信については、情報送信については<a
        href="/page/external-data-policy">外部送信規律に基づく情報提供ページ</a
      >をご確認ください
    </p>
  </aside>
  <p>Copyright © 2023 All right reserved by 幻想サイクル</p>
</footer>
