---
import { SITE_TITLE } from "~/consts"
import { MenuDropDown } from "./jsx/dropdown"
---

<header>
  <nav>
    <div class="navbar bg-base-100">
      <div class="navbar-start"></div>
      <div class="navbar-center">
        <a href="/" class="btn btn-ghost text-xl normal-case md:text-2xl"
          >{SITE_TITLE}</a
        >
      </div>
      <div class="navbar-end">
        <MenuDropDown client:only="react" />
      </div>
    </div>
  </nav>
</header>
