---
import { SITE_TITLE } from "~/consts"
import PageFind from "./PageFind.astro"
---

<header class="border-b border-gray-200 pb-3">
  <div class="flex w-full flex-row items-center justify-between">
    <a href="/" class="mr-4 whitespace-nowrap text-xl font-bold tracking-tight"
      >{SITE_TITLE}</a
    >
    <div class="w-auto max-w-[40%] shrink md:max-w-xs">
      <PageFind />
    </div>
  </div>
</header>
