---
import { SITE_TITLE } from "~/consts"
import { MenuDropDown } from "./jsx/dropdown"
import Social from "./Social.astro"
import PageFind from "./PageFind.astro"
---

<header>
  <nav>
    <div class="navbar mx-auto max-w-5xl bg-base-200">
      <div class="navbar-start">
        <a href="/" class="btn btn-ghost text-xl normal-case md:text-2xl"
          >{SITE_TITLE}</a
        >
      </div>
      <div class="navbar-center"><PageFind /></div>
      <div class="navbar-end">
        <div class="invisible md:visible">
          <Social />
        </div>
        <div class="visible md:invisible md:w-0">
          <MenuDropDown client:only="react" />
        </div>
      </div>
    </div>
  </nav>
</header>
