---
import { Picture } from "astro:assets"
import heroImage from "../images/hero.jpg"
import { Content as HeroText } from "./text/hero.md"
---

<div class="relative w-full bg-gray-900 text-white">
  <div
    class="relative mx-auto flex h-64 max-w-5xl items-center justify-center md:h-80"
  >
    <div class="absolute inset-0 overflow-hidden">
      <Picture
        src={heroImage}
        alt=""
        formats={["webp"]}
        quality={30}
        widths={[640, 768]}
        class="size-full object-cover"
        loading="eager"
        fallbackFormat="jpg"
      />
    </div>
    <div class="absolute inset-0 bg-black opacity-60"></div>
    <div class="relative p-6 text-center">
      <div class="prose prose-sm mx-auto max-w-2xl text-white md:prose-base">
        <HeroText />
      </div>
    </div>
  </div>
</div>
