---
import { Content as HeroText } from "./text/hero.md"
import heroImage from "../images/hero.jpg"
import { Picture } from "astro:assets"
---

<div class="w-full bg-gray-900 text-white relative">
  <div class="h-64 md:h-80 max-w-5xl mx-auto flex items-center justify-center relative">
    <div class="absolute inset-0 overflow-hidden">
      <Picture
        src={heroImage}
        alt=""
        formats={["webp"]}
        quality={30}
        widths={[640, 768]}
        class="w-full h-full object-cover"
        loading="eager"
        fallbackFormat="jpg"
      />
    </div>
    <div class="absolute inset-0 bg-black opacity-60"></div>
    <div class="text-center relative z-10 p-6">
      <div class="prose prose-sm max-w-2xl mx-auto text-white md:prose-base">
        <HeroText />
      </div>
    </div>
  </div>
</div>
