---
type Props = {
  currentPage: number
  totalPages: number
}
const { currentPage, totalPages } = Astro.props
const hasPreviousPage = currentPage > 1
const previousPageLink = currentPage > 2 ? `/page/${currentPage - 1}` : `/`
const hasNextpage = currentPage < totalPages
const nextPageLink = `/page/${currentPage + 1}`
---

<div class="join mt-4 grid grid-cols-3">
  <a href={previousPageLink} class="join-item">
    <div
      class:list=`w-full btn btn-outline ${hasPreviousPage ? '' : 'btn-disabled'}`
    >
      Previous
    </div>
  </a>
  <div class="btn btn-outline join-item">Page {currentPage}</div>
  <a href={nextPageLink} class="join-item">
    <div
      class:list=`w-full btn btn-outline ${hasNextpage ? '' : 'btn-disabled'}`
    >
      Next
    </div>
  </a>
</div>
