---
import BlogPostCard from "./BlogPostCard.astro"
import { timeOrderPosts } from "@lib/timeOrderPosts"

type Props = {
  searchTag: string
  selfSlug: string
}

const { searchTag, selfSlug } = Astro.props
console.log(searchTag, selfSlug)
const showPosts = timeOrderPosts
  .filter((post) => post.slug !== selfSlug)
  .filter((post) => post.data.tags.includes(searchTag))
  .slice(0, 3)
---

<div class="w-full">
  <div class="w-full text-lg font-bold md:text-xl">関連記事</div>
  <div class="mx-auto grid grid-cols-2 gap-4 md:grid-cols-3">
    {showPosts.map((post) => <BlogPostCard {...post} />)}
  </div>
</div>
