---
import { timeOrderPosts } from "@lib/timeOrderPosts"
import BlogPostCard from "./BlogPostCard.astro"

type Props = {
  tags: string[]
  selfSlug: string
}

const { tags, selfSlug } = Astro.props

const showPosts = timeOrderPosts
  .filter((post) => post.slug !== selfSlug)
  .map((post) => ({
    post,
    score: post.data.tags.filter((t) => tags.includes(t)).length
  }))
  .filter(({ score }) => score > 0)
  .sort(
    (a, b) =>
      b.score - a.score ||
      b.post.data.date.valueOf() - a.post.data.date.valueOf()
  )
  .slice(0, 6)
  .map(({ post }) => post)
---

<div class="w-full">
  <div class="mx-auto grid grid-cols-2 gap-4 md:grid-cols-3">
    {showPosts.map((post) => <BlogPostCard {...post} />)}
  </div>
</div>
