---
import { Icon } from "astro-icon"
import { PROFILE } from "~/consts"
type Props = {
  colorClass?: string
}
export const props = Astro.props
---

<nav>
  <div class="grid grid-flow-col gap-4" class:list={[]}>
    <a
      href=`https://twitter.com/${PROFILE.social.twitter}`
      target="_blank"
      rel="noreferrer"
    >
      <Icon
        name="mdi:twitter"
        class="h-8 w-8 md:h-12 md:w-12"
        alt="Twitter(X) Account"
      />
    </a>
    <a
      href=`https://www.instagram.com/${PROFILE.social.instagram}`
      target="_blank"
      rel="noreferrer"
      ><Icon
        name="mdi:instagram"
        class="h-8 w-8 md:h-12 md:w-12"
        alt="Instagram Account"
      /></a
    >
    <a href=`https://www.youtube.com/channel/UCwNPD5TeaVKBhYrp_ODMCqg`>
      <Icon
        name="mdi:youtube"
        class="h-8 w-8 md:h-12 md:w-12"
        alt="Youtube Channel"
      /></a
    >
    <a href=`https://www.gensobunya.net/`>
      <Icon
        name="mdi:web"
        class="h-8 w-8 md:h-12 md:w-12"
        alt="個人ポートフォリオウェブサイト"
      /></a
    >
  </div>
</nav>
