---
import { Icon } from "astro-icon/components"
import { PROFILE } from "~/consts"

type Props = {
  colorClass?: string
}
export const props = Astro.props
---

<nav>
  <div class="grid grid-flow-col gap-4">
    <a
      href=`https://twitter.com/${PROFILE.social.twitter}`
      target="_blank"
      rel="noreferrer"
    >
      <Icon name="mdi:twitter" class="size-8 md:size-12" />
    </a>
    <a
      href=`https://www.instagram.com/${PROFILE.social.instagram}`
      target="_blank"
      rel="noreferrer"
      ><Icon name="mdi:instagram" class="size-8 md:size-12" /></a
    >
    <a href=`https://www.youtube.com/channel/UCwNPD5TeaVKBhYrp_ODMCqg`>
      <Icon name="mdi:youtube" class="size-8 md:size-12" /></a
    >
    <a href=`https://www.gensobunya.net/`>
      <Icon name="mdi:web" class="size-8 md:size-12" /></a
    >
  </div>
</nav>
