---
import LinkCardServer from "./LinkCardServer.astro"

interface Props {
  url: string
  linkUrl?: string
}
---

<LinkCardServer {...Astro.props} server:defer>
  <div
    slot="fallback"
    class="not-prose relative mx-2 mt-2 h-20 animate-pulse rounded-lg border border-stone-200 bg-stone-100"
  >
  </div>
</LinkCardServer>
