---
import LinkCardServer from "./LinkCardServer.astro"

interface Props {
  url: string
  linkUrl?: string
}
---

<LinkCardServer {...Astro.props} server:defer>
  <div
    slot="fallback"
    class="not-prose relative my-4 h-28 animate-pulse rounded-lg border border-stone-200 bg-stone-100 md:h-36"
  >
  </div>
</LinkCardServer>
