---
interface Props {
  href?: string
  target?: string
  rel?: string
}
const { href, target, rel } = Astro.props
---

<a
  href={href}
  target={target}
  rel={rel}
  class="underline decoration-stone-400 underline-offset-4 transition-colors hover:text-primary hover:decoration-primary"
>
  <slot />
</a>
