---
interface Props {
  url: string
  title?: string
  linkUrl?: string
}

const { url, title, linkUrl } = Astro.props
try {
  new URL(url)
  if (linkUrl) {
    new URL(linkUrl)
  }
} catch {
  throw new Error("Invalid URL")
}
---

<div
  class="not-prose my-4 rounded-md border border-stone-300 bg-white px-2 py-1 shadow-xs"
>
  <a href={linkUrl ?? url}>
    <p class="text-sm font-bold text-primary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="1em"
        height="1em"
        class="mr-1 inline"
        aria-hidden="true"
        ><path
          fill="currentColor"
          d="M14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2z"
        ></path></svg
      >{title ?? url}
    </p>
  </a>
</div>
