---
import { Icon } from "astro-icon/components"

interface Props {
  url: string
  title?: string
  linkUrl?: string
}

const { url, title, linkUrl } = Astro.props
try {
  new URL(url)
  if (linkUrl) {
    new URL(linkUrl)
  }
} catch {
  throw new Error("Invalid URL")
}
---

<div
  class="not-prose mx-2 rounded-md border border-secondary bg-base-100 px-2 py-1 shadow-sm"
>
  <a href={linkUrl ?? url}>
    <p class="text-sm font-bold text-primary">
      <Icon name="mdi:open-in-new" class="mr-1 inline" />{title ?? url}
    </p>
  </a>
</div>
