---
import type { CollectionEntry } from "astro:content"
import Layout from "./Layout.astro"
import FormattedDate from "../components/FormattedDate.astro"

type Props = CollectionEntry<"post">["data"]

const { title, date, cover } = Astro.props
---

<Layout>
  <article>
    <div class="hero-image">
      {cover && <img width={1020} height={510} src={cover.src} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate date={date} />
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</Layout>
