---
import type { CollectionEntry } from "astro:content"
import Layout from "./Layout.astro"
import BlogTitle from "../components/BlogTitle.astro"

type Props = CollectionEntry<"post">["data"]

const { title, date, cover, tags } = Astro.props
---

<Layout>
  <article>
    <BlogTitle title={title} cover={cover} date={date} tags={tags} />
    <div class="w-full h-[25%] mt-4">
      <div class="prose prose-sm md:prose-lg max-w-full">
        <slot />
      </div>
    </div>
  </article>
</Layout>
