---
import type { CollectionEntry } from "astro:content"
import Layout from "./Layout.astro"
import FormattedDate from "../components/FormattedDate.astro"
import { Image } from "astro:assets"

type Props = CollectionEntry<"post">["data"]

const { title, date, cover } = Astro.props
---

<Layout>
  <article>
    <div class="hero-image">
      {cover && <Image width={1020} height={510} src={cover} alt="" />}
    </div>
    <div class="w-full">
      <div class="title">
        <div class="date">
          <FormattedDate date={date} />
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <div class="prose max-w-full">
        <slot />
      </div>
    </div>
  </article>
</Layout>
