---
import type { CollectionEntry } from "astro:content"
import Layout from "./Layout.astro"
import FormattedDate from "../components/FormattedDate.astro"
import { Image } from "astro:assets"
import BlogTitle from "../components/BlogTitle.astro"

type Props = CollectionEntry<"post">["data"]

const { title, date, cover } = Astro.props
---

<Layout>
  <article>
    <BlogTitle title={title} cover={cover} date={date} />
    <div class="w-full h-[25%] mt-4">
      <div class="prose prose-sm font-normal max-w-full px-2">
        <slot />
      </div>
    </div>
  </article>
</Layout>
