---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="ja" data-theme="corporate">
  <head>
    <BaseHead title="幻想サイクル" description="テスト中" />
  </head>
  <body class="bg-base-200">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
