---
import BaseHead from "@components/BaseHead.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"

interface Props {
  title: string
  description?: string
  image?: string
  datePublished?: string
  twitterImage?: string
}

const props = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead {...props} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white text-gray-900">
    <div class="mx-auto px-4 py-8">
      <Header />
      <main class="my-8 max-w-sm mx-auto">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
