name: functions test

on:
  pull_request:
    branches: [master]
    paths:
      - "functions/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout-repo
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.sha}}

      - name: install node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: install dependencies
        run: cd functions/ && npm ci

      - name: Run test
        run: cd functions/ && npm test
