name: Run Lint and Tests

on:
  push:
    branches:
      - "master"
    paths:
      - "functions/**"
      - "src/components/**"
      - "src/layouts/**"
      - "src/lib/**"
      - "test/**"
      - "package.json"
      - "tsconfig.json"
      - "vitest.config.ts"
      - "wrangler.jsonc"
      - ".assetsignore"
      - ".github/workflows/**"
  pull_request:
    paths:
      - "functions/**"
      - "src/components/**"
      - "src/layouts/**"
      - "src/lib/**"
      - "test/**"
      - "package.json"
      - "tsconfig.json"
      - "vitest.config.ts"
      - "wrangler.jsonc"
      - ".assetsignore"
      - ".github/workflows/**"

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # pnpmキャッシュを利用して、高速に依存関係をインストールする
      # https://github.com/pnpm/action-setup/tree/v4/?tab=readme-ov-file#use-cache-to-reduce-installation-time

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run Lint
        run: pnpm run lint

      - name: Create dist directory for tests
        run: mkdir -p dist

      - name: Run Tests
        run: |
          touch .dev.vars
          echo "PARTNER_TAG=$PARTNER_TAG" >> .dev.vars
          echo "PAAPI_SECRETKEY=$PAAPI_SECRETKEY" >> .dev.vars
          echo "PAAPI_ACCESSKEY=$PAAPI_ACCESSKEY" >> .dev.vars
          pnpm run test
        env:
          PARTNER_TAG: ${{ secrets.PARTNER_TAG }}
          PAAPI_SECRETKEY: ${{ secrets.PAAPI_SECRETKEY }}
          PAAPI_ACCESSKEY: ${{ secrets.PAAPI_ACCESSKEY }}
