name: Run Lint and Tests

on:
  push:
    branches:
      - "master"
    paths:
      - "functions/**"
      - "src/lib/**"
      - ".github/workflows/**"
  pull_request:
    paths:
      - "functions/**"
      - "src/lib/**"
      - ".github/workflows/**"

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Run Lint
        run: pnpm run lint

      - name: Run Tests
        run: |
          touch .dev.vars
          echo "PARTNER_TAG=$PARTNER_TAG" >> .dev.var
          echo "PAAPI_SECRETKEY=$PAAPI_SECRETKEY" >> .dev.var
          echo "PAAPI_ACCESSKEY=$PAAPI_ACCESSKEY" >> .dev.var
          pnpm run test
        env:
          PARTNER_TAG: ${{ secrets.PARTNER_TAG }}
          PAAPI_SECRETKEY: ${{ secrets.PAAPI_SECRETKEY }}
          PAAPI_ACCESSKEY: ${{ secrets.PAAPI_ACCESSKEY }}
