---
import type { GetStaticPaths, Page } from "astro"
import { timeOrderPosts } from "@lib/timeOrderPosts"
import { pageSize } from "~/config"
import Layout from "@layouts/Layout.astro"
import BlogPostCard from "@components/BlogPostCard.astro"
import type { CollectionEntry } from "astro:content"
import Paginate from "@components/Paginate.astro"

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  return paginate(timeOrderPosts, { pageSize: pageSize })
}

type Props = {
  page: Page<CollectionEntry<"post">>
}

const { page } = Astro.props
const posts = page.data
---

<Layout title="幻想サイクル">
  <section>
    <div class="grid grid-cols-2 gap-4 lg:grid-cols-3">
      {posts.map((post) => <BlogPostCard {...post} />)}
    </div>
  </section>
  <Paginate currentPage={page.currentPage} totalPages={page.lastPage} />
</Layout>
