---
export const prerender = true
import type { CollectionEntry } from "astro:content"
import { getCollection, render } from "astro:content"
import Layout from "@layouts/Layout.astro"
import { slugFromId } from "@lib/postSlug"
import type { GetStaticPaths } from "astro"
export const getStaticPaths: GetStaticPaths = async () => {
  const singlePages = await getCollection("singlePage")
  return singlePages.map((page) => ({
    params: { slug: slugFromId(page.id) },
    props: page
  }))
}

import MdxA from "@components/mdx/MdxA.astro"
import MdxBlockQuote from "@components/mdx/MdxBlockQuote.astro"
import MdxH2 from "@components/mdx/MdxH2.astro"
import MdxH3 from "@components/mdx/MdxH3.astro"
import MdxH4 from "@components/mdx/MdxH4.astro"
import MdxStrong from "@components/mdx/MdxStrong.astro"
import MdxTable from "@components/mdx/MdxTable.astro"

type Props = CollectionEntry<"singlePage">
const page = Astro.props
const { Content } = await render(page)
---

<Layout title={page.data.title}>
  <div class="prose prose-sm mx-auto max-w-3xl md:prose-base">
    <Content
      components={{
        h2: MdxH2,
        h3: MdxH3,
        h4: MdxH4,
        blockquote: MdxBlockQuote,
        a: MdxA,
        table: MdxTable,
        strong: MdxStrong
      }}
    />
  </div>
</Layout>
