---
import type { GetStaticPaths } from "astro"
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import Layout from "@layouts/Layout.astro"
export const getStaticPaths: GetStaticPaths = async () => {
  const singlePages = await getCollection("singlePage")
  return singlePages.map((page) => ({
    params: { slug: page.slug },
    props: page
  }))
}

type Props = CollectionEntry<"singlePage">
const page = Astro.props
const { Content } = await page.render()
---

<Layout title={page.data.title}>
  <div class="prose prose-sm mx-auto max-w-3xl md:prose-base">
    <Content />
  </div>
</Layout>
